{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Transections</title>
	<meta name="viewport" content="width=device-width, intial-scale=1.0">
	<link rel="stylesheet" href="{% static 'CSS/style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fa fa-bars"></i>
		</label>
		<label class="logo">Basic Banking System</label>
		<ul>
			<li><a href="home">Home</a></li>
			<li><a href="customers">Customers</a></li>
			<li><a class="active" href="trans">Transections</a></li>
		</ul>
	</nav>
	<section>
<!--		<label class="heading">TSF Basic Banking System</label><br>-->
<!--		<label class="t1">Transections Detail</label>-->
<!--		<table class="table1">-->
<!--			<thead>-->
<!--				<tr>-->
<!--					<th>No.</th>-->
<!--					<th>Name</th>-->
<!--					<th>Email</th>-->
<!--					<th>Amt Debited</th>-->
<!--					<th>Amt Credited</th>-->
<!--					<th>Acc. Bal</th>-->
<!--				</tr>-->
<!--			</thead>-->
<!--			<body>-->
<!--				{% for i in trans %}-->
<!--				<tr>-->
<!--					<td>{{i.id}}</td>-->
<!--					<td>{{i.name}}</td>-->
<!--					<td>{{i.email}}</td>-->
<!--					<td>{{i.deb_amt}}</td>-->
<!--					<td>{{i.cr_amt}}</td>-->
<!--					<td>{{i.ac_bal}}₹</td>-->
<!--				</tr>-->
<!--				{% endfor %}-->
<!--			</body>-->

<!--		</table>-->
<!--		<label id="Refresh"><a href="trans">Refresh</a></label>-->
<!--	</section>-->


<!--</body>-->
<!--</html>-->